@import "./base/mixins";
@import "./base/variables";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/footer";
@import "./layout/sections";
@import "./sections/about";
@import "./sections/contact";
@import "./sections/hero";
@import "./sections/projects";

#particles-js {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0
      }